<div class="heroes-container">
  <div
    class="hero-card"
    *ngFor="let hero of allHeroes"
    [routerLink]="['hero', hero.id]"
  >
    <div class="img-div">
      <img [src]="hero.images.sm" [alt]="hero.name" />
    </div>

    <div class="details-container">
      <p [style.color]="hero.appearance.eyeColor">
        {{ hero.name }}
      </p>
      <div style="text-align: left">
        <p>Name: {{ hero.biography.fullName }}</p>
        <p>
          Race:
          {{ hero.appearance.race ? hero.appearance.race : "Not-Speicfied" }}
        </p>
        <p>Publisher: {{ hero.biography.publisher }}</p>
      </div>
    </div>
  </div>
</div>
